.containerDeAcoes{
    //background-color: red;
}
.boxTitulosAcoes{
    border: solid green;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

h2{
    font-size: 3rem;
    color: #205691;
}

p{
    font-size: 1.5rem;
    //border: solid red;
    width: 40%;
    text-align: center;
}

}

.containerCardsDeAcoes{
    border: solid blue;
    //background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.cardsDeAcoes{
    border: solid;
    width: 26%;
    height: 35vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

img{
    height: 15vh;
}

h2{
    color: #122f97;
}

p{
    font-size: 1rem;
    text-align: center;
    width: 70%;
    text-align: center;
}

button{
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #205691;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
}